<div class="container"
     fxLayout="row wrap"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">


  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img height="200px" src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dish-detail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">BACK</button> <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dish-detail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <mat-list fxFlex>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish['comments']">
        <p mat-line>Rating: {{comment.rating}}</p>
        <p mat-line>Author: {{comment.author}}</p>
        <p mat-line>Date: {{comment.date | date}}</p>
        <p mat-line>Comment: {{comment.comment}}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div class="comments-form" fxFlex="30">
    <form fxLayout="column"  novalidate [formGroup]="commentsForm" #comemntsForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="half-width">
        <input matInput name="firstname" formControlName="firstName" placeholder="Name" type="text">
        <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea type="text" name="comment" matInput formControlName="comment" placeholder="Leave a comment"></textarea>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
      </mat-form-field>
      <p>
        <mat-slider
          type="number"
          name="rate"
          formControlName="rate"
          class="half-width"
          [max]="5"
          [min]="1"
          [step]="1"
          thumbLabel
          tickInterval>
        </mat-slider>
      </p>
      <button type="submit" [disabled]="commentsForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
    </form>

  </div>

</div>
